* {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.options-div {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
}

.slider-label {
  color: white;
  padding-left: 3px;
}

.stats-div {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.stats-label {
  color: white;
  padding-left: 3px;
  height: 20px;
  width: 100%;
  overflow: visible;
  text-wrap: nowrap;
}

.stats-visual {
  width: 60%;
  height: 100%;
  background-color: #444444;
  overflow: visible;
}
