/* Body */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

body {
  display: flex;
  height: 100vh;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Sidebar */
#sidebar {
  height: 100%;
  border-right: 3px solid black;
  width: 60px;
  display: flex;
  flex-direction: column;
}

.sidebar-button {
  width: 100%;
  border: 1px solid black;
  background-color: gray;
  text-align: center;
  justify-content: center;
  flex: 1;
  display: inline-flex;
  align-items: center;
  transition: background-color ease 100ms;
  cursor: pointer;
}

/* Letter to Morse */
#input-letter-tab {
  flex: 1;
}

#input-letter-display {
  width: 100%;
  display: flex;
  height: 50%;
  padding-top: 10px;
}

#input-letter-display-target {
  flex: 1;
  display: flex;
  font-size: large;
  flex-direction: column;
  text-align: center;
}

#input-letter-display-actual {
  flex: 1;
  display: flex;
  font-size: large;
  flex-direction: column;
  text-align: center;
}

#input-letter-target {
  font-size: 200px;
  font-family: Tahoma;
}

#input-letter-actual {
  font-size: 200px;
  font-family: Tahoma;
}

#input-letter-morse {
  cursor: pointer;
  width: 100%;
  height: 50%;
  background-color: #cccccc;
  outline: none;
  transition: background-color ease 50ms;
  display: inline-flex;
  align-items: center;
  /* font-family: monospace; */
  font-size: 70px;
  justify-content: center;
}

/* Morse to Letter */
#output-letter-tab {
  flex: 1;
}

#output-letter-display {
  width: 100%;
  height: 70%;
  background-color: white;
  display: inline-flex;
  align-items: center;
  font-size: 70px;
  justify-content: center;
}

#output-letter-buttons-top {
  width: 100%;
  height: 10%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#output-letter-buttons-bottom {
  width: 100%;
  height: 10%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.output-letter-button {
  cursor: pointer;
  width: 6%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: #ccc;
  transition: scale ease 50ms, filter ease 50ms;
  border-radius: 3px;
}

.output-letter-button.button-selected {
  scale: 1.1;
  filter: brightness(80%);
}

#light {
  width: 40px;
  height: 40px;
}
